---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
<div class="image-container">
  <a href="#my-image-slug">
    <img id="my-image-slug" src="onkam-1.png" alt="Onkam logo">
  </a>
</div>
		</main>
		<Footer />
	</body>
</html>
